.tabs-nested {
  overflow-x: hidden; /* so we could easily hide the radio inputs */
  margin: 32px 0;
  padding-bottom: 16px;
}

.tabs-nested [type="radio"] {
  /* hiding the inputs */
  display: none;
}

.tabs-control {
  display: flex;
  flex-flow: row wrap;
  row-gap: 48px;
  margin: 0;
  border-bottom: 2px solid var(--color-brand-subtitle);
}

.tab {
  margin: 0;
  position: relative;
  list-style: none;
  white-space: nowrap;
  display: list-item;
  top: 0;
  float: none;
}

.tab:hover {
  color: var(--color-white);
  background-color: var(--color-info-accent-down);
}

.tab > label,
.tab > label > h2,
.tab > label > h2 > a {
  font-size: 24px;
  cursor: pointer;
}

.tab > label > h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.tab > label > h2 > a {
  border: 0;
  padding: 16px 24px;
  transition: 0.3s;
  color: var(--color-grey-dark);
  border-radius: 0;
  border-right: 0;
  font-family: var(--body-font-family);
  font-size: 18px;
  display: block;
  text-decoration: none;
}

.tab > label > h2 > a:hover {
  text-decoration: none;
}

.tab:hover label {
  color: #333;
}

.contents-wrapper .contents {
  display: none;
  color: #777;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabs-control .tab:hover > label > h2 > a,
.tabs-nested
  [type="radio"]:nth-of-type(1):checked
  ~ .tabs-control
  .tab:nth-of-type(1)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(2):checked
  ~ .tabs-control
  .tab:nth-of-type(2)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(3):checked
  ~ .tabs-control
  .tab:nth-of-type(3)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(4):checked
  ~ .tabs-control
  .tab:nth-of-type(4)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs-control
  .tab:nth-of-type(5)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(1):checked
  ~ .tabs-control
  .tab:nth-of-type(6)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(2):checked
  ~ .tabs-control
  .tab:nth-of-type(7)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(3):checked
  ~ .tabs-control
  .tab:nth-of-type(8)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(4):checked
  ~ .tabs-control
  .tab:nth-of-type(9)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs-control
  .tab:nth-of-type(10)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs-control
  .tab:nth-of-type(11)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(1):checked
  ~ .tabs-control
  .tab:nth-of-type(12)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(2):checked
  ~ .tabs-control
  .tab:nth-of-type(13)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(3):checked
  ~ .tabs-control
  .tab:nth-of-type(14)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(4):checked
  ~ .tabs-control
  .tab:nth-of-type(15)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(2):checked
  ~ .tabs-control
  .tab:nth-of-type(16)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(3):checked
  ~ .tabs-control
  .tab:nth-of-type(17)
  > label
  > h2
  > a,
.tabs-nested
  [type="radio"]:nth-of-type(4):checked
  ~ .tabs-control
  .tab:nth-of-type(18)
  > label
  > h2
  > a {
  color: var(--color-white);
  background-color: var(--color-brand-subtitle);
}

.tabs-nested
  [type="radio"]:nth-of-type(1):checked
  ~ .contents-wrapper
  .contents:nth-of-type(1),
.tabs-nested
  [type="radio"]:nth-of-type(2):checked
  ~ .contents-wrapper
  .contents:nth-of-type(2),
.tabs-nested
  [type="radio"]:nth-of-type(3):checked
  ~ .contents-wrapper
  .contents:nth-of-type(3),
.tabs-nested
  [type="radio"]:nth-of-type(4):checked
  ~ .contents-wrapper
  .contents:nth-of-type(4),
.tabs-nested
  [type="radio"]:nth-of-type(5):checked
  ~ .contents-wrapper
  .contents:nth-of-type(5),
.tabs-nested
  [type="radio"]:nth-of-type(6):checked
  ~ .contents-wrapper
  .contents:nth-of-type(6),
.tabs-nested
  [type="radio"]:nth-of-type(7):checked
  ~ .contents-wrapper
  .contents:nth-of-type(7),
.tabs-nested
  [type="radio"]:nth-of-type(8):checked
  ~ .contents-wrapper
  .contents:nth-of-type(8),
.tabs-nested
  [type="radio"]:nth-of-type(9):checked
  ~ .contents-wrapper
  .contents:nth-of-type(9),
.tabs-nested
  [type="radio"]:nth-of-type(10):checked
  ~ .contents-wrapper
  .contents:nth-of-type(10),
.tabs-nested
  [type="radio"]:nth-of-type(11):checked
  ~ .contents-wrapper
  .contents:nth-of-type(11),
.tabs-nested
  [type="radio"]:nth-of-type(12):checked
  ~ .contents-wrapper
  .contents:nth-of-type(12),
.tabs-nested
  [type="radio"]:nth-of-type(13):checked
  ~ .contents-wrapper
  .contents:nth-of-type(13),
.tabs-nested
  [type="radio"]:nth-of-type(14):checked
  ~ .contents-wrapper
  .contents:nth-of-type(14),
.tabs-nested
  [type="radio"]:nth-of-type(15):checked
  ~ .contents-wrapper
  .contents:nth-of-type(15),
.tabs-nested
  [type="radio"]:nth-of-type(16):checked
  ~ .contents-wrapper
  .contents:nth-of-type(16),
.tabs-nested
  [type="radio"]:nth-of-type(17):checked
  ~ .contents-wrapper
  .contents:nth-of-type(17),
.tabs-nested
  [type="radio"]:nth-of-type(18):checked
  ~ .contents-wrapper
  .contents:nth-of-type(18) {
  display: block;
}
